name: Maven Build

on:
  push:

jobs:

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v6
        with:
          show-progress: false
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'
      - name: Cache OWASP database
        uses: actions/cache@v5
        with:
          path: target/owasp/data
          key: owasp-data
      - name: Build with Maven
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
        run: ./mvnw -B verify --file pom.xml
